.container{
  max-width: 576px;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 10% 10% 38% 4% 38% 30%;
  padding: 5%;
  margin: auto;
  place-items: center;
  background-color: rgb(227, 227, 233);
  border-radius: 30px;
}
.select{
  background-color: #fef9ef;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px;
  overflow: hidden;
  place-self: center;
}
.contentToTraslate{
  display: grid;
  width: 100%;
  height: 100%;
  
}
.description{
  width: 100%;
  height: 99%;
}
.h2,.h4{
  font-weight: 200;
}
.textarea{
  background-color: #fef9ef;
  border-radius: 20px;
  padding:3% 4%;
  border: transparent;
  outline: none;
  resize: none;
  height: 70px;
  width: 100%;
  overflow-y: scroll;

}
.textarea::-webkit-scrollbar {
  display: none;
}

.textTraducido{
  padding: 0;
  width: 100%;
  background-color: #fef9ef;
  border-radius: 20px;
  height:99%;
  padding:3% 4%;
}
.BoxidiomaATraducir{
  margin: auto;
}
.idiomaATraducir{
  text-align: center;
  margin: auto;
  background-color: #fef9ef;
  padding: 10px 20px;
  border-radius: 20px;
}
.keyboard{
  width: 90px;
  height: 50px;
}